<div class="container">
    <div class="footer-brand">
        <p class="footer-slogan">"Restaurar, Cuidar e Amar"</p>
    </div>
    
    <div class="footer-divider"></div>
    
    <div class="footer-social">
        <a href="https://www.instagram.com/familias.church" target="_blank">Instagram</a>
        <a href="https://youtube.com/@FamiliasChurch" target="_blank">YouTube</a>
        <a href="https://www.facebook.com/familiaschurch" target="_blank">Facebook</a>
    </div>
    
    <div class="footer-copy">
        <p>© 2025 Famílias Church. Todos os direitos reservados.</p>
        <p class="endereco-curto">Rua do Pinho, 263 - Eucaliptos | Fazenda Rio Grande - PR</p>
    </div>
</div>
