/* Remove as setinhas (spinners) e resolve o erro de compatibilidade */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none; /* Propriedade padrão que o VS Code pediu */
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}